body {
    background-color: #1c9df4;
}

#app {
background-color: rgb(242, 242, 242);
width: 400px;
height: 400px;
padding: 50px;
border-radius: 20px;
position: absolute;
transform: translate(150%, 30%);
text-align: center;
}

#todo-input {
  height: 30px;
}